/* header, before navigation /w image and logo */
header {
    background-image: url("header.png");
    background-size: cover;
    background-position: bottom;
    padding: 75px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    text-align: center;
}

h1 {
    color: black;
}

/* navigation, buttons moeten in radius*/
nav {
    list-style-type: none;
    margin-bottom: -60px;
    margin-right: -60px;
    margin-left: -60px;
    padding: 10px;
    overflow: hidden;
    background-color: #333;
    border-radius: 15px;
}

.stickynav {
    position: sticky;
}

li {
    float: left;  
}
  
li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 10px 30px;
    text-decoration: none;
    border-radius: 15px;
}
  
li a:hover {
    background-color: rgb(15, 15, 15);
}
.active { 
    background-color: rgb(112, 112, 112)
}

/* rest, is nog probeersel, moet FLINK verbeterd worden */
body {
    margin: auto;
    background-image: url("body.jpg");
    background-size: cover;
    background-position: center;
    top: 20px;
}

h2 {
    text-align: center;
}

p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

 .framework-middle {
    margin: auto;
    width: 60%;
    background-color: white;
    padding: 20px;
    top: 20px;
    margin-top: 60px;
    border-radius: 40px;
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0, 0.2), 0 6px 20px 0 rgb(0, 0, 0, 0.19); 
 }
 
 #frdashmid {
     float: right;
     margin-right: 5%;
 }

 #frdashside {
     float: left;
     margin-left: 5%;
 }

 .framework-side {
    float: left;
    width: 20%;
    background-color: white;
    padding: 20px;
    top: 20px;
    margin-top: 60px;
    border-radius: 40px;
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0, 0.2), 0 6px 20px 0 rgb(0, 0, 0, 0.19); 
 }

/* tabel */
table {
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }