/* header, before navigation /w image and logo */
#header {
    background-image: url("header.png");
    background-size: cover;
    padding: 50px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
/* navigation, buttons moeten in radius*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    overflow: hidden;
    background-color: #333;
    position: sticky;
    border-radius: 20px;
}

li {
    float: left;  
}
  
li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 10px 30px;
    text-decoration: none;
    border-radius: 20px;
}
  
li a:hover {
    background-color: rgb(15, 15, 15);
}
.active { 
    background-color: rgb(112, 112, 112)
}

/* rest, is nog probeersel, moet FLINK verbeterd worden */
body {
background-color: whitesmoke;

}
p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

