/* header, before navigation /w image and logo */
header {
    background-image: url("header.png");
    background-size: cover;
    background-position: bottom;
    padding: 75px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    text-align: center;
}

h1 {
    color: black;
}

/* navigation, buttons moeten in radius*/
nav {
    list-style-type: none;
    margin-bottom: -60px;
    margin-right: -60px;
    margin-left: -60px;
    overflow: hidden;
    background-color: #333;
    border-radius: 15px;
}

.nav-li {
    float: left;  
}
  
.nav-li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 20px 30px;
    text-decoration: none;
    border-radius: 15px;
    transition: 0.8s;
}
  
.nav-li a:hover {
    background-color: rgb(15, 15, 15);
}
.active { 
    background-color: rgb(112, 112, 112)
}

/* rest, is nog probeersel, moet FLINK verbeterd worden */
body {
    margin: auto;
    background-image: url("body.jpg");
    background-size: cover;
    background-position: center;
    top: 20px;
    margin: 0px;
    padding: 0px;
}

h2 {
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
    font-size: 32px;
    padding: 10px;
}

h3 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 23px; 
    padding-top: 20px;
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


 .framework-middle {
    margin: auto;
    width: 60%;
    background-color: white;
    padding: 20px;
    top: 20px;
    margin-top: 60px;
    border-radius: 40px;
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0, 0.2), 0 6px 20px 0 rgb(0, 0, 0, 0.19); 
 }

 .framework-side {
    float: left;
    width: 20%;
    background-color: white;
    padding: 20px;
    top: 20px;
    margin-top: 60px;
    border-radius: 40px;
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0, 0.4), 0 6px 20px 0 rgb(0, 0, 0, 0.38); 
 }

 img {
     height: 35rem ;
     border: groove black 10px;
     object-position: center;
     border-radius: 50px;
 }

/* ID's voor dashboard */
#frdashmid {
    float: right;
    margin-right: 5%;
}

#frdashside {
    float: left;
    margin-left: 5%;
}

/* tabel */
table {
    border-collapse: collapse;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 2px solid black;
    overflow: hidden;
  }

th {
    border: 1px solid gray;
    text-align: left;
    padding: 8px;
  }

td {
    border: 1px solid #c5c5c5;
    text-align: left;
    padding: 8px;
  }

  /* footer */
  .wrap {
    height: auto;
    margin: 0 auto -80px; /* footer height + space */
    min-height: 100%;
    padding: 0 0 80px; /* footer height + space */
    box-sizing: border-box;
    overflow: auto;
}
.footer {
    background-color: #111111;
    color: #eeeeee;
    border-top: 1px solid red;
    height: 60px;  /* footer height */
    padding-top: 20px;
    display: block;
    margin-top: 20px; /* space between content and footer */
    box-sizing: border-box;
    position: relative;
    width: 100%;
}
